$color__background-body: #edd5be;
$color__background-screen: #edd5be;
$color__background-hr: #ccc;
$color__background-button: #b77333;
$color__background-pre: #eee;
$color__background-ins: #fff9c0;

$color__text-screen: #21759b;
$color__text-input: #666;
$color__text-input-focus: #111;
$color__link: #b77333; //royalblue
$color__link-visited: #975c25; //purple
$color__link-hover: #e79a52; //midnightblue
$color__text-main: #1a1b1b;

$color__border-button: #ccc #ccc #bbb;
$color__border-button-hover: #ccc #bbb #aaa;
$color__border-button-focus: #aaa #bbb #bbb;
$color__border-input: #ccc;
$color__border-abbr: #666;
